<div class = "container">
<center>
<h5>bae stores</h5>

</center>


<% @stores.each do |s| %>
<ul>
<li>

<h6><%=link_to s.name, store_path(s) %> </h6>
<%= s.address %>

</li>
</ul>


<% end %>

</div>