<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script> 

<div class= "container">
<center>
<div class= "container">
<div class= "container">
<div class= "container">
<div class= "container">
<h5 class= "blue white-text"><%= @store.name%></h5>
</div>
</div>
</div>
<br>

<img class="materialboxed" width="400" src="https://thumbs.dreamstime.com/b/abstract-colorful-graffiti-wall-background-spray-painted-vandalized-ghetto-tagged-118073730.jpg">

</div>
</center>
<br>
<p><%= @store.bio %></p>
<br>



<%= button_to "all albums", store_albums_path(@store), :method => "get", class: 'btn btn-small teal white-text'   %> 

</div>

