

<center>

<h5 class=><%=@store.name%></h5>

</center>
<div class = "col s7 push">
<div class="parallax-container" height ="100" >
      <div class="parallax"><img src="<%= @store.image%>" ></div>
    </div>
</div>






<div class = "container">
<div class = "container">
<p><%= @store.bio %></p>
</div>

</div>
<div class= "container">
<%if user_logged_in?%>
<%= button_to "all albums", store_albums_path(@store), :method => "get", class: 'btn btn-small teal white-text'   %> 
<%end%>
</div>
</div>
</div>

<br>

<br>
<br>

</center>
<script>
 $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>