

<center>
<div class = "container"><div class = "container"><div class = "container"><div class = "container"><div class = "container">
<h3 class= "teal white-text"><%= @user.first_name %> <%=@user.last_name%></h3>
</center>
</div></div></div></div></div>
<div class = "container">
<h5><%= @user.username %></h5>

<h5><%= @user.email%></h5>
</div>